*{
    margin: 0px ;
    padding: 0px;
}
body{
    font-family: ;
    font-size: 14px;
    line-height: 24px;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'poppins';
}
a, a:hover{
    font-family: ;
    text-decoration: none;
    cursor: pointer;
}

/* header css start */
.header {
    width: 100%;
    position: fixed;
    z-index: 5;
}
.header .bg-light{
    background-color: #122066 !important;
}
.header .navbar-brand{
    color: #fff !important;
}
.header .navbar-brand span{
    color: #ff8f00!important;
}
.header .navbar-light ul li {
    margin-left: 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.header .navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.header .navbar-light .btn-light {
    padding: 10px 30px 15px 30px;
    background-color: transparent;
    border: 2px solid #ff8f00;
    font-size: 22px;
    line-height: 20px;
    border-radius: 50px;
    color: #fff;
}
.header .navbar-light .btn-light:hover , .header .navbar-light .btn-light:focus{
    color: #ff8f00;
}

.header .navbar-light .navbar-nav .nav-link:hover , header .navbar-light .navbar-nav .nav-link:focus{
    color: #ff8f00 !important;
}
.header .navbar-light .navbar-nav .active {
    color: #ff8f00 !important;
}

/* banner css start */
    .banner{
        background-color: #122066;
        padding: 100px 0px;
    }
    .banner .banner-content{
        width: 100%;
        margin-top: 30px;
    }
    .banner .banner-content h1 {
        font-size: 44px;
        line-height: 54px;
        color: #fff;
        padding: 30px 0px;
    }
    .banner .banner-content h4 {
        font-size: 21px;
        line-height: 31px;
        color: #fff;
        margin: 0px 0px 55px;
        font-weight: 200;
    }
    .banner .btn-light {
        background-color: transparent;
        font-size: 20px;
        color: #fff;
        padding: 9px 30px;
        line-height: 34px;
        border-radius: 50px;
        border: 2px solid #fff;
    }
    .banner .btn-light:hover , .banner .btn-light:focus{
        color: #ff8f00;
        border-color: #ff8f00;
    }
    .banner .btn-primary {
        background-color: transparent;
        border: 2px solid #ff8f00;
        font-size: 20px;
        color: #fff;
        padding: 9px 40px;
        line-height: 34px;
        border-radius: 50px;
    }
    .banner .btn-primary:hover , .banner .btn-primary:focus{
        color: #ff8f00;

    }


    .banner .banner-image img {
        width: 50%;
        margin: 0px auto;
        margin: 43px 0px 0px 215px;
    }
    .banner .banner-image{
        width: 100%;
    }
    
/* banner end */

/* header css end */

/* elementor sectopn start */

    .elementor{
        width: 100%;
        padding: 60px 0px;
    }
    .elementor .title{
        text-align: center;
    }
    .elementor .title p{
        padding: 0px 199px;
    }
    .elementor .conetent-box{
        width: 100%;
        padding:50px 0px;
        text-align: center;
    }
    .elementor .conetent-box h4 {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 60px;
    }
    .elementor .conetent-box h4 span{
        color: #E45492;
    }
    .elementor .conetent-box img{
        width: 80%;
    }
    .elementor .conetent-box .big-image {
        width: 35%;
        margin-top: -38px;
    }

/* elementor sectopn start */

/* service css start */

    .service{
        width: 100%;
        padding: 80px 0px;
    }
    .service .title {
        text-align: center;
        padding: 0px 0px 60px 0px;
    }
    .service .title h1{
        text-align: center;
        padding: 0px 380px;
    }
    .service .content-box {
        text-align: center;
        border: 2px solid #122066;
        padding: 20px 3px;
        background-color: #fff;
        border-style: solid;
        width: 339px;
        border-width: 1px 1px 1px 1px;
        border-color: #fff;
        box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 9%);
        margin-top: 40px;
        margin: 0px auto;
    }
    .service .content-box:hover {
        box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 37%);
    }
    .service .content-box i {
        font-size: 35px;
        line-height: 45px;
        padding: 5px 15px;
        color: #122066;
        border: 2px solid #122066;
        border-radius: 20px;
    }
    .service .content-box h1{
        color: #122066;
        padding: 10px 0px 0px 0px;
    }
    .service .content-box h2{
        color: #122066;
    }
    .service .content-box p {
        padding: 0px 0px 1px;
        font-size: 17px;
    }
    .service .content-box .btn-primary {
        background-color: transparent;
        border: 2px solid #ff8f00;
        font-size: 18px;
        color: #ff8f00;
        padding: 6px 30px;
        line-height: 34px;
        border-radius: 50px;
    }
    .service .content-box .btn-primary:hover , .service .content-box .btn-primary:focus{
        border: 2px solid #122066;
        color: #122066;

    }

/* service css end */

/* small css start here */
    .small{
        width: 100%;
        padding: 150px 0px 0px 0px;
    }
    .small .title{
        width: 100%;  
        margin: 0px; 
    }
    .small .title h1{
        margin-top: 40px;  
    }
    .small .small-img{
        margin-top: 50px;
    }
    .small .small-img img{
        width: 100%;
        opacity: 1;
        border-style: solid;
        border-width: 1px 0px 0px 1px;
        border-color: #ff8f00;
        border-radius: 250px 50px 250px 50px;
        box-shadow: 0px 1px 2px 1px #db1d6f;
    }
     .small-box{
        width: 100%;
        padding: 125px 0px 0px 0px;
    }
    l .small-box .inner-box{
        width: 100%;
        box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 9%);
    }
     .small-box .inner-box:hover{
        box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 37%);
    }
     .small-box .inner-box{
        text-align: center;
    }
     .small-box .inner-box h4 {
        width: 100%;
        line-height: 36px;
        font-size: 26px;
        padding: 20px 0px;
        color: #122066;
        margin: 0px;
    }
     .small-box .inner-box p {
        width: 100%;
        font-size: 17px;
        line-height: 27px;
        padding: 0px 40px 20px;
        color: #5a5353;
    }
/* small css end here */

/* optimize css start */
    .optimize{
        width: 100%;
        padding: 160px 0px;
    }
    .optimize .optimize-img img{
        max-width: 80%;
        border-style: solid;
        border-width: 1px 1px 0px 0px;
        border-color: #ff8f00;
        border-radius: 155px 280px 135px 200px;
        box-shadow: -1px 3px 2px 1px #db1d6f;
    }
     .title{
        margin-top: 60px;
    }
/* optimize css end */

/* review css start */
    .review{
        width: 100%;
        padding: 60px 0px;
        background-color: transparent;
        background-image: linear-gradient(150deg,#122066 43%,#f2295b 100%);
    }
    .review .review-content{
        width: 100%;
        text-align: center;
    }
    .review .review-content h1{
        width: 100%;
        color: #fff;
    }
    .review .review-content h6 {
        width: 100%;
        color: #fff;
        font-size: 18px;
        line-height: 28px;
    }
    .review .inner-image{
        text-align: center;
    }
    .review img {
        width: 45%;
        margin: 0px auto;
        text-align: center;
        margin-top: 40px;
    }
/* review css end */

/* faq css start here */
    .faq{
        width: 100%;
        padding: 116px 0px 175px 0px;
    }
    .faq .title{
        text-align: center;
    }
    .faq .inner-faq{
        margin-top: 40px;
        box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 23%);
    }
    .faq .inner-faq a{
        color: #122066;
    }
    .faq .inner-faq h2 {
        color: #122066;
        font-size: 28px;
        font-weight: 600;
        border-bottom: 1px solid #5a535366;
        line-height: 50px;
    }
/* faq css end here */

/* testimonial css start here */
    .testimonial {
        width: 100%;
        padding: 120px 0px 0px 0px;
        background-color: transparent;
        background-image: linear-gradient(150deg,#122066 43%,#f2295b 100%);
    }
    .testimonial h1{
        text-align: center;
        color: #fff;
    }
    .testimonial .item{
        text-align: center;
        color: #fff;
        margin-top: 20px;
    }

/* testimonial css end here */

/* about css start here */
    .about{
        width: 100%;
        padding: 60px 0px;
    }
    .about .btn-primary {
        background-color: transparent;
        border: 2px solid #ff8f00;
        font-size: 18px;
        color: #122066;
        padding: 6px 30px;
        line-height: 34px;
        border-radius: 50px;
    }
    .about .btn-primary:hover , .contact .btn-primary:focus{
        color: #ff8f00;

    }
    .about iframe{
        margin-top: 110px;
    }
/* about css end here */

/* contact section start */
    .contact{
        width: 100%;
        padding: 60px 0px;
    }
    .contact{
        width: 100%;
        padding: 60px 0px;
        background-color: #122066;
    }
    .contact .inner-contact{
        
    }
    .contact .inner-contact h4{
        color: #fff;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }
    .contact .inner-contact ul{
        text-decoration: none;
        list-style: none;
    }
    .contact .inner-contact li {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }
    .contact .inner-contact li a{
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }
    .contact .social-contact h4{
        color: #fff;
        text-align: center;
    }
    .contact .social-contact ul{
        list-style: none;
    }
    .contact .social-contact li{
        display: inline;
    }
    .contact .social-contact li img {
        width: 17%;
        float: right;
        margin: 20px 0px 0px 15px;
    }
    .contact .social-contact .gmail-img{
        width: 18%;
    }
    .contact .inner-contact li .gmail-img{
        width: 18%;
    }
    .contact .footer {
        width: 100%;
        text-align: center;
        margin-bottom: -40px;
    }
    .contact .footer h6{
        font-size: 16px;
        line-height: 26px;
        font-weight: ;
        color: #fff;
    }
    .contact .footer a {
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #d8d1d1;
    }

/* end section start */
/* global css start here */
    .title{
        width: 100%;

    }
    .title h1{
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        padding: 0px 0px; 
    }
    .title img {
        margin-top: -10px;
    }
    .title p {
        margin-top: 17px;
        font-family: 'DM sans';
        font-size: 20px;
        line-height: 30px;
    }

/* global css end here */


/* **************************************
Responsive for mobile (320-480)
*****************************************/

@media (min-width:320px) and (max-width:480px){

/* banner responsive start*/
.banner{
    width: 100%;
}
.banner .banner-content h1 {
    font-size: 26px;
    line-height: 36px;
    margin-top: -51px;
    padding: 0px 0px;
}
.banner .banner-content h4 {
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0px 50px;

}
.banner .btn-light {
    font-size: 18px;
    padding: 6px 26px;
    line-height: 32px;
    margin: -28px 0px 20px 76px;
}

.banner .btn-primary {
    font-size: 18px;
    color: #fff;
    padding: 9px 40px;
    line-height: 28px;
    margin: 0px 0px 0px 39px;
}
.banner .banner-image img {
    width: 50%;
    margin: 0px auto;
    margin: 20px 0px 0px 81px;
}
/* banner responsive end*/

/* elemetor responsive start here */
.elementor .title p {
    padding: 0px 0px;
}
.elementor .conetent-box {
    width: 100%;
    padding: 14px 0px;
}
.elementor .conetent-box h4 {
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 46px;
}
/* elemetor responsive end here */

/* service responsive start here */
.service .title h1 {
    text-align: center;
    padding: 0px 0px;
}
.service .content-box {
    width: 100%;
    margin-bottom: 20px;
}
.service .title {
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-top: -78px;
}
/* service responsive end here */

/* small box responsive start here */
.small-box {
    width: 100%;
    padding: 20px 0px 0px 0px;
}
.small .small-img img {
    width: 95%;
}
.small-box .inner-box h4 {
    width: 100%;
    line-height: 32px;
    font-size: 22px;
    padding: 11px 0px;

}
/* small box responsive end here*/

/* optimize responsive satrt here */
.optimize {
    width: 100%;
    padding: 0px 0px;
}
.optimize .optimize-img img {
    max-width: 70%;
}
/* optimize responsive end here */

/* review responsive start */
.review .review-content h6 {
    width: 100%;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    line-height: 27px;
}
/* review responsive end */

/* faq responsive here */
.faq {
    width: 100%;
    padding: 0px 0px 0px 0px;
}
.faq .inner-faq h2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

}

/* testimonial responsive start here */
.testimonial {
    width: 100%;
    padding: 0px 0px 0px 0px
}
.testimonial h1 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
}
.testimonial h6 {
    font-size: 15px;
    line-height: 25px;
    font-weight: 200;
}
/* testimonial responsive end here */

/* about responsive start here */
.about {
    width: 100%;
    padding: 0px 0px;
    text-align: center;
}
.about iframe {
    margin-top: 30px;
}
/* about responsive end here */

/* contact responsive satrt here */
.contact .inner-contact li a {
    margin-left: 91px;
    font-size: 17px;
    line-height: 27px;
}
.contact .inner-contact li {
    font-size: 17px;
    line-height: 27px;

}
.contact .inner-contact li img {
    width: 17%;
    margin: 0px 0px 0px 20px;
}
.contact .inner-contact li a {
   margin-left: 0px;
}
.contact .social-contact h4 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}
.contact  .social-contact{

}
.contact .social-contact ul li {
    display: inline;
    text-align: center;
}
.contact  .social-contact img{
    width: 17%;
}
.contact .social-contact ul {
    list-style: none;
    margin: 0px 30px 0px -34px;
}
/* contact responsive end here */
/*responsive global css start here */
.title{
    width: 100%;

}
.title h1{
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    padding: 0px 0px; 
}
.title img {
    margin-top: 0px;
}
.title p {
    margin-top: 20px;
    font-family: 'DM sans';
    font-size: 15px;
    line-height: 25px;
}

/*  responsive global css end here */
}

